<h1>Authentication</h1>
<form [formGroup]="form">
  <div class="form-group">
    <label>Email</label><br />
    <input type="email" class="form-control" formControlName="email" /><br />
  </div>
  <div class="form-group">
    <label>Password</label><br />
    <input type="password" class="form-control" formControlName="password" /><br />
  </div>
  <button class="btn btn-success" (click)="onLogin()">Login</button> |
  <button class="btn btn-primary" (click)="onSignUp()">Signup</button>
</form>

